{#
/**
 * @file
 * Custom override for comments.
 *
 * These two variables are provided for context:
 * - comment: Full comment object.
 * - entity: Entity the comments are attached to.
 *
 * @see template_preprocess_comment()
 */
#}
{% set classes = [] %}
{% if user_picture['#user'].user_picture.value %}
  {% set classes = classes|merge(['has-picture']) %}
{% endif %}

<article{{ attributes.addClass('js-comment comment', classes) }}>

  <footer class="content-footer">
    {% if user_picture['#user'].user_picture.value %}
      {{ user_picture }}
    {% endif %}
    <p class="submitted"> {{ 'By'|t }} {{ author }} <span class="date">{{ created }}</span> </p>

    {#
      Indicate the semantic relationship between parent and child comments for
      accessibility. The list is difficult to navigate in a screen reader
      without this information.
    #}
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}

    <span class="permalink">
      <svg width=".9rem" height=".9rem" viewBox="0 0 4.7144022 4.919661">
        <path
          d="M 3.1764567,-0.0078451 C 2.8900079,0.00750209 2.6095509,0.13338231 2.4007934,0.36577552 l -0.45837,0.51004636 c 0,0 0.4246892,-0.11301743 0.8035684,0.12092283 l 0.1545127,-0.17259926 0.00517,-0.005168 C 3.0719251,0.63390678 3.3489838,0.61913789 3.5340572,0.78538817 L 3.8709877,1.0876953 c 0.1850731,0.1662503 0.2101752,0.4531305 0.043925,0.6382039 L 2.8570959,2.9036052 C 2.6908458,3.0886783 2.3931133,3.1044787 2.20804,2.9382283 L 1.8767941,2.6405721 1.4235918,3.1454508 1.7548377,3.443107 c 0.1209286,0.1086295 0.2599757,0.1864191 0.4066935,0.2346111 0.4155581,0.1338826 0.891558,0.022947 1.2004437,-0.3209108 L 4.4197915,2.1791015 C 4.8373066,1.714315 4.7889765,1.0003315 4.3241901,0.5828165 L 3.9877766,0.28050938 C 3.7553833,0.07175194 3.4629052,-0.02319228 3.1764567,-0.0078451 Z M 2.2214761,1.169344 C 1.9004495,1.1569847 1.5767663,1.283222 1.3429768,1.5434814 L 0.2846435,2.7211871 c -0.41751499,0.4647867 -0.38882163,1.1798035 0.0759644,1.5973187 L 0.69702144,4.6208129 C 1.1618082,5.0383278 1.8861268,4.9992996 2.3036417,4.5345132 L 2.7527098,4.0353188 c 0,0 -0.4227278,0.1108242 -0.8082193,-0.1157552 L 1.7992797,4.0813111 C 1.6330294,4.2663842 1.335297,4.2821843 1.1502237,4.1159342 L 0.81381016,3.8136271 C 0.62873687,3.6473767 0.62327196,3.3594629 0.78952223,3.1743895 l 1.05316567,-1.1725382 0.00465,-0.00517 C 2.0135921,1.8116126 2.2911676,1.7968437 2.4762409,1.963094 l 0.3364137,0.3023071 c 0.00209,0.00189 0.00306,0.00276 0.00517,0.00465 L 3.2715411,1.7651732 c -0.00209,-0.00189 -0.00306,-0.00276 -0.00517,-0.00465 L 2.92996,1.4582153 C 2.8121861,1.3524197 2.6779307,1.2758234 2.5382527,1.2282551 2.435281,1.1932339 2.328485,1.1734638 2.2214761,1.169344 Z"
          style="fill:#323232;fill-opacity:1;stroke-width:0.26458332" />
        </svg>
      <span class="permalink-link visually-hidden">{{ permalink }}</span>
    </span>

    {#
      Hide the "new" indicator by default, let a piece of JavaScript ask the
      server which comments are new for the user. Rendering the final "new"
      indicator here would break the render cache.
    #}
    <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
  </footer>
  {% if title and show_subject %}
    {{ title_prefix }}
    <h3{{ title_attributes }}>{{ title }}</h3>
    {{ title_suffix }}
  {% endif %}
  <div class="content">
    {{ content }}
  </div>
</article>
