{#
/**
 * @file
 * Theme override to display help text for file fields.
 *
 * Available variables:
 * - descriptions: Lines of help text for uploading a file.
 *
 * @see template_preprocess_file_upload_help()
 */
#}
<div class="help-group">
  <span class="help-toggle">{{ 'File upload instructions'|t }}</span>
  <div class="help-content">
    {{ descriptions|safe_join('<br />') }}
  </div>
</div>
