{#
/**
 * @file
 * Custom override for displaying a single search result.
 * Makes mark-up match teasers
 *
 *   displayed after the main title tag that appears in the template.
 * - info_split: Contains same data as info, but split into separate parts.
 *   - info_split.type: Node type (or item type string supplied by module).
 *   - info_split.user: Author of the node linked to users profile. Depends
 *     on permission.
 *   - info_split.date: Last update of the node. Short formatted.
 *   - info_split.comment: Number of comments output as "% comments", %
 *     being the count. (Depends on comment.module).
 * @todo The info variable needs to be made drillable and each of these sub
 *   items should instead be within info and renamed info.foo, info.bar, etc.

 *
 * @see template_preprocess_search_result()
 */
#}
{% set classes = [

  ]
%}
<div class="node teaser search-result">
  {{ title_prefix }}
  <h2{{ title_attributes }}>
    <a href="{{ url }}">{{ title }}</a>
  </h2>
  {{ title_suffix }}
  {% if snippet %}
    <p{{ content_attributes }}>{{ snippet }}</p>
  {% endif %}
  {% if info %}
    <footer class="submitted">{{ info }}</footer>
  {% endif %}
</div>
