{#
/**
 * @file
 * Theme override to display a forum topic list.
 * This is a custom template created by Starlight to display
 * forum topics in a list rather than a table
 */
#}

<ul class="forum-list forum-topic-list display-list">
  {% for topic in topics %}
    <li>
      <a href="{{ path('entity.node.canonical', {'node': topic.nid.value}) }}">
        {{ topic.icon }}
      </a>
      <div class="text">
        <h2 class="title">{{ topic.title_link }} </h2>
        {{ topic.submitted }}
        <p class="forum-replies">
          <span class='replies'>
            {% if topic.comment_count == 0 %}
              {{ 'no'|t }}
            {% else %}
              {{ topic.comment_count }}
            {% endif %}
            {{ 'replies'|t }}
          </span>
          <span class="newest-by">
            {{ 'Most recent by ' }}
            <a href="{{ path('entity.user.canonical', {'user': topic.last_comment_uid}) }}">{{ topic.last_comment_name }}</a>
            {{ topic.last_comment_timeago }}
          </span>
        </p>
      </div>
      <div class="forum-new">
        {% if topic.new_text %}
          <mark><a href="{{ topic.new_url }}">{{ topic.new_text }} </a></mark>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
