{#
/**
 * @file
 * Custom theme override to display a list of forums and containers.
 * Renders as a list instead of a table, plus other structural changes
 *
 * Available variables:
 * - forums: A collection of forums and containers to display. It is keyed to
 *   the numeric IDs of all child forums and containers. Each forum in forums
 *   contains:
 *   - is_container: A flag indicating if the forum can contain other
 *     forums. Otherwise, the forum can only contain topics.
 *   - depth: How deep the forum is in the current hierarchy.
 *   - zebra: 'even' or 'odd', used for row class.
 *   - icon_class: 'default' or 'new', used for forum icon class.
 *   - icon_title: Text alternative for the forum icon.
 *   - name: The name of the forum.
 *   - link: The URL to link to this forum.
 *   - description: The description field for the forum, containing:
 *     - value: The descriptive text for the forum.
 *   - new_topics: A flag indicating if the forum contains unread posts.
 *   - new_url: A URL to the forum's unread posts.
 *   - new_text: Text for the above URL, which tells how many new posts.
 *   - old_topics: A count of posts that have already been read.
 *   - num_posts: The total number of posts in the forum.
 *   - last_reply: Text representing the last time a forum was posted or
 *     commented in.
 * - forum_id: Forum ID for the current forum. Parent to all items within the
 *   forums array.
 *
 * @see template_preprocess_forum_list()
 */
#}

<ul class="display-list forum-list">
  {% for child_id, forum in forums %}
    {# @todo: there should be a better way of doing this #}
    {% if forum.is_container == true %}
      <li class="container">
    {% elseif forum.depth > 0 %}
      <li class="indent--level{{ forum.depth }}">
    {% else %}
       <li>
    {% endif %}

      {% if forum.is_container != true %}
        <a href="{{ forum.link }}">
          {% include starlight_dir ~ '/templates/forum/forum-icon.html.twig' with { icon_status: forum.icon_class, icon_title: forum.icon_title } %}
        </a>
      {% endif %}

        <div class="forum-list-title text">
          {% if forum.is_container == true %}
            <h2>{{ forum.label }}</h2>
          {% else %}
            <h3><a href="{{ forum.link }}">{{ forum.label }}</a></h3>
          {% endif %}

          {% if forum.description.value %}
            {{ forum.description.value }}
          {% endif %}

          {% if forum.is_container == false %}
            <p class="num-posts">{{ forum.num_posts }} {{ 'posts in'|t }} {{ forum.num_topics }} {{ 'topics'|t }}</p>
          {% endif %}
        </div>
        <div class="forum-new">
          {% if forum.is_container == false %}
            {% if forum.new_topics == true %}
              <mark class="forum-new"><a href="{{ forum.new_url }}">{{ forum.new_text }}</a></mark>
            {% endif %}
          {% endif %}
        </div>
    </li>
  {% endfor %}
</ul>
